[Unit]
Description=systemd-test-web-1
Requires=systemd-test-web.target

[Service]
Type=simple
ExecStart=/usr/bin/env node server.js 5000
WorkingDirectory=TEST_DIR

User=test-user
Group=test-user

EnvironmentFile=-TEST_DIR/fixtures/env.env
Environment=PORT=5000

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
