[Unit]
Description=systemd-test-log-1
Requires=systemd-test-log.target

[Service]
Type=simple
ExecStart=/usr/bin/env node server.js 100000
WorkingDirectory=TEST_DIR

User=test-user
Group=test-user

EnvironmentFile=-TEST_DIR/fixtures/env.env
Environment=PORT=5200

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
