[Unit]
Description=systemd-test-web-1
Requires=systemd-test-web.target

[Service]
Type=simple
ExecStart=/usr/bin/env node server.js 5000
WorkingDirectory=/Users/ryan/work/node-foreman/test

User=root
Group=root

EnvironmentFile=-/Users/ryan/work/node-foreman/test/fixtures/env.env
Environment=PORT=5000

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
