[Unit]
Description=systemd-test-api-1
Requires=systemd-test-api.target

[Service]
Type=simple
ExecStart=/usr/bin/env node server.js 10000
WorkingDirectory=/Users/ryan/work/node-foreman/test

User=root
Group=root

EnvironmentFile=-/Users/ryan/work/node-foreman/test/fixtures/env.env
Environment=PORT=5100

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
