[Unit]
Description=systemd-test-api-1
Requires=systemd-test-api.target

[Service]
Type=simple
ExecStart=/usr/bin/env node server.js 10000
WorkingDirectory=TEST_DIR

User=test-user
Group=test-user

EnvironmentFile=-TEST_DIR/fixtures/env.env
Environment=PORT=5100

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
