[Unit]
Description={{{application}}}-{{{process}}}-{{{number}}}
Requires={{{application}}}-{{{process}}}.target

[Service]
Type=simple
ExecStart=/usr/bin/env {{{command}}}
WorkingDirectory={{{cwd}}}

User={{{user}}}
Group={{{group}}}

EnvironmentFile=-{{{envfile}}}
Environment=PORT={{{port}}}

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
